<h1><%= @company.name %></h1>

<% if not @annualincome.nil? %>
  <table class="table table-condensed">
    <% AnnualIncome.columns[4..52].each_with_index do |column, index| %>
      <tr>
        <td><%= column.name %></td>
        <td><%= @annualincome["#{column.name}"].to_s %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  No Annual incomes for this company yet.
<% end %>
